/*
 * No point in refactoring this untill a preprocessor is installed.
 * This file is litterally margins, paddings and modals. Not much else.
 * But yeah, tbh it's just a spaghetti code.
 */

label {
	width: 100%;
}

.that{
  border: 1px solid red;
}

.placeholder {
	color: lightgray !important;
}

.pd-h-10{
  padding: 0 10px;
}

.triangle{
  cursor: pointer;
}

.flip svg{
  transform: rotate(180deg);
}
.modal_fade:before {
  display: none;
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 1;
}

.modal_fade_trick:before{
  display: block;
}

.my_modal_delete {
  display: none;
	position: fixed;
	top: 40vh;
	left: 50vw;
	min-width: max-content;
	transform: translate(-50%, -40%);
	width: 45vw;
	min-height: 250px;
	/* height: 200px; */
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px; 
	z-index: 3;
	opacity: 1;	
}

.my_modal_edit {
	display: none;
	position: absolute;
	top: 40vh;
	left: 50%;
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px;
	min-width: min-content;
	max-width: 370px;
	padding: 25px;
	/* padding-right: 60px; */
	/* padding-left: 40px; */
	z-index: 3;
	opacity: 1;
	transform: translate(-50%, -40%);
}

.mg-t-15 {
	margin-top: 15px;
}

.mg-t-35 {
	margin-top: 35px;
}

.mg-h-auto {
	margin: 0 auto;
}

.mg-r-15{
	margin-right: 15px;
}

.mg-l-15 {
	margin-left: 15px;
}

.mg-l-10 {
	margin-left: 10px;
}

.mg-l-9 {
	margin-left: 8px;
}

.mg-l-5 {
	margin-left: 5px;
}
.mg-r-7 {
	margin-right: 7px;
}
.mg-l--10 {
	margin-left: -10px;
}
.mg-r--15 {
	margin-right: -15px;
}
.mg-r-10 {
	margin-right: 10px;
}

.mg-b-15 {
	margin-bottom: 15px;
}
.pd-l-15 {
	padding-left: 15px !important;
}

.pd-l-20 {
	padding-left: 20px !important;
}

.pd-l-22 {
	padding-left: 22px !important;
}

.border-bottom {
	border-bottom: 2px solid black;
}

.txt-align-center {
	text-align: center;
}

.light_border {
	border: 2px solid #eaeaea;
	border-radius: 4px; 
}

.mg-l-0 {
	margin-left: 0 !important;
}
.mg-r-0 {
	margin-right: 0 !important;
}

h2 {
	margin-left: -15px;
}

.mg-l--15{
	margin-left: -15px;
}

.mg-l--28{
	margin-left: -28px;
}

.mg-r--28{
	margin-right: -28px;
}

.mg-r-24{
	margin-right: 24px;
}

.brd{
	border: 1px solid red;
}

.label_city {
	min-width: 100px;
}

.note {
	color: red;
	font-size: 12px;
	margin-bottom: -18px;
}

.hidden {
	display: none !important;
	position: absolute !important;
	pointer-events: none !important;
}

.good_name {
	text-decoration: underline;
	cursor: pointer;
}

.delivery {
	width: 114%;
}

.my_modal_description {
  display: none;
	position: fixed;
	padding-bottom: 25px;
	top: 40vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-40%);
	min-width: 200px;
	max-width: 400px;
	/* width: 350px; */
	min-height: max-content;
	max-height: 100vh;
	/* height: 450px; */
	/* max-height: 500px; */
	background: #fff;
	border: 3px solid #333;
	border-radius: 4px; 
	z-index: 3;
	opacity: 1;	
}

.invalid {
	border: 3px solid rgba(255, 0, 0, 0.5) !important;
}

.search {
	max-width: 66%;
}

.loading {
	font-size: 26px;
	color: white;
	display: none;
	position: fixed;
	top: 45vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-40%);
	/* min-width: max-content; */
	z-index: 1;
	opacity: 1;	
}

.modal_save {
	width: 113% !important;
}

.modal_cancel {
	width: 141.5% !important;
}

@media (max-width: 575.5px ){
	.modal_save {
		width: 100% !important;
	}
	
	.modal_cancel {
		width: 100% !important;
	}

	.modal_buttons_wrap {
		margin: 5px auto !important;
	}

	.cities {
		margin: 0 15px;
		margin-top: 10px;
	}

	.button_edit {
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.button_delete {
		margin-right: 10px;
	}

	#good_add {
		margin-left: 40px;
		margin-top: 15px;
	}

	.my_modal_description{
		font-size: 14px;
	}
	.modal_close {
		margin-top: 5px;
		/* width: 220px; */
	}

	.my_modal_delete {
		height: 270px;
	}
}
